@media only screen and (max-width: 550px) 
{
h2#zoom
{
  font-size:80%;
}
h2#zoom1
{
  font-size:45%;
}
}
@media only screen and (min-width: 551px) and (max-width: 768px) 
{
h2#zoom
{
  font-size:80%;
}
h2#zoom1
{
  font-size:60%;
}
}
@media only screen and (min-width: 769px) and (max-width: 1200px) 
{
h2#zoom
{
  font-size:100%;
}
h2#zoom1
{
  font-size:80%;
}
}
#sin
{
	text-align: center;
}

div.heck
{
  color:black;
  background-color:#3CB371;
  border-radius: 10px;
  padding: 25px;
   margin:  0px 0px 0px 0px;
   box-shadow: 20px 20px 50px grey;
}
div.heck1
{
  color:black;
  background-color:white;
  border-radius: 15px;
  padding: 10px;
   margin:  0px 0px 0px 0px;
   box-shadow: 5px 5px 5px 5px grey;
}
label
{
	color: black;
	font-size: 20px;
	font-weight: 700;
}
input
{
	width:100%;
	border-radius:6px;
	padding:7px;
}
a#fur:hover
{
	text-decoration:none;
}
.button {
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.button.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid black;
}
.button.button1:hover {
    color:white;
    background-color: black; 
}
#fasak
{
    font-size: 25px;
    font-weight: 600;
    padding:8px
}
#fasak1
{
    font-size: 90%;
    font-weight: 500;
    padding:1%;
}
   i#wro
  {
    color:red;
  }
     i#gre
  {
    color:green;
  }
  #spa
  {
    text-align:center;
  }
  input#limit
  {
    width: 50%;
  }
    input#limit1
  {
    width: 30%;
  }
  button#holi
  {
    padding:1.5%;
    border-radius: 8px;
  }
  span#ging
  {
    color:white;
  }
    span#ping
  {
    color:black;
  }
div.hello {
  height: 300px;
  overflow: auto;
}
div.hello1 {
  height: 160px;
  overflow: auto;
}
thead
  {
    background-color:#3CB371  
  }
  #myTable tr
  {
    background-color:#3CB371;
  }