@media only screen and (max-width: 550px) 
{
img.block{
/*display:none;*/
font-size:160%;
}
h3.block{
/*display:none;*/
font-size:160%;
}
}
a#fur:hover
{
	text-decoration:none;
}
.button {
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}
.button.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid black;
}
.button.button1:hover {
    color:white;
    background-color: black; 
}
#fasak
{
    font-size: 25px;
    font-weight: 600;
    padding:8px
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-right:100px;
}

.dropdown-content a {
  color: black;
  background-color: #ddd;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 30px;
    padding-left:15px;
    padding-right:15px;
}

.navbar-nav > li > a:hover
{
  cursor:pointer;
}

body {
  position: relative;
}
.overlay,
.sideMenu {
  position: fixed;
  bottom: 0;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  right: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  transition: all ease 0.2s;
}
.overlay.open {
  left: 0;
  right: 0;
}
.sidebarNavigation {
  margin-bottom: 0;
  z-index: 999;
  justify-content: flex-start;
}
.sidebarNavigation .leftNavbarToggler {
  margin-right: 10px;
  order: -1;
}
.sideMenu {
  left: -100%;
  top: 52px;
  transition: all ease 0.5s;
  overflow: hidden;
  width: 40%;
  z-index: 999;
  max-width: 80%;
  margin-bottom: 0;
  padding: 1rem;
}
.sideMenu.open {
  left: 0;
  display: block;
  overflow-y: auto;
  background-color: #F5F5F5;
}
.sideMenu ul {
  margin: 0;
  padding: 0 15px;
}
.navbar
{

background-color:white;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

    /* the rest of your styling */
}
.button2 {
    color: grey;
    text-decoration:none;
    font-size: 120%;
}
.button2:hover {
    color: #3CB371;
    text-decoration:none;
    font-size: 120%;
}
