<footer style="text-align: center;">
            <div class="container-fluid" style="background:#545454;padding-top: 20px;">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="color:gainsboro;">
<h1 id="ssmall" style="color: black;"><span style="color:white;font-weight: 700;">About</span>Us</h1>
                        <p style="color:white">
                            ExamAutomata is an Online Examination system.It was designed with a mission to strive for excellence, with an expertise in driving assessments in the educational domain. We prioritize quality customer experience with a goal to conduct test online assuring minimal human-intervention.
                        </p>
                    </div>
              
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="color:gainsboro;">
<h1 id="ssmall" style="color: black;"><span style="color:white;font-weight: 700;">Me</span>nu</h1>
                        <a href="#" routerLink="/" style="color:white;text-decoration:none;">ExamAutomata</a><br><a href="#" routerLink="/contests" style="color:white;text-decoration:none;">Contests</a><br><a href="#" routerLink="/dashboard" style="color:white;text-decoration:none;">DashBoard</a><br><a href="#" routerLink="/publish" style="color:white;text-decoration:none;">Automata</a><br>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="color:gainsboro;">

<h1 id="ssmall" style="color: black;"><span style="color:white;font-weight: 700;">Contact</span>Us</h1>
                        <p style="color:white">
                        
            examautomata@gmail.com<br>
            +91-9629601733<br><br><br>

    <a  style="cursor: pointer;" id="wer"><i class="fa fa-facebook-square"></i></a>&nbsp;
    <a  style="cursor: pointer;" id="wer"><i class="fa fa-google"></i></a>&nbsp;
    <a  style="cursor: pointer;" id="wer"><i class="fa fa-twitter"></i></a>

                        </p>

                         
            </div>
            </div>
            </div>
        </footer>