<app-header></app-header>
<div class="container-fluid" >
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
</div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
  	<br><br><br><br><br>
  	<h1 id ="sin" style="color: #3CB371;">EXAM<span style="color:black">AUTOMATA</span></h1><br><br>
<h1 id ="sin" style="color:#3CB371;"><span style="color:black">Oops</span>PageNotFound!!</h1>
<div id ="sin" class="spinner">
  <div class="cube1"></div>
  <div class="cube2"></div>
</div>

  </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
</div>
</div>
</div>
<app-footer></app-footer>