<app-header></app-header>
<div class="container-fluid" >
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
</div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
  <br><br>
  	<h1 class="block" *ngIf="!emailsuc" id ="sin" style="color: #3CB371;">EMAIL<span style="color:black">VERIFICATION</span></h1><br *ngIf="emailsuc">
  	 <h1 class="block" *ngIf="emailsuc" id ="sin" style="color: #3CB371;">OTP<span style="color:black">VERIFICATION</span></h1><br *ngIf="emailsuc">
  	<div class="heck">
     <form novalidate *ngIf="!emailsuc" [formGroup]="EmailForm" (ngSubmit)="onSubmit()">
     	<label for="email" >Email :</label><br>
  <input type="email" formControlName="email" placeholder="Email.." email required><br><br>
  <button type="submit" id ="fasak" class="button button1"  [disabled]="EmailForm.invalid">Proceed</button><br>
  <br><br>
    <p id ="sin" style="color:white;font-size: 120%;
	font-weight: 700;">@ 2018<span style="color: black;">ExamAutomata</span></p>
</form>
     <form novalidate *ngIf="emailsuc" [formGroup]="OtpForm" (ngSubmit)="onSubmitotp()">
     <input formControlName="otp" placeholder="OTP..." type="otp" pattern="[0-9]*" required><br><br>
  <button type="submit" id ="fasak" class="button button1" [disabled]="OtpForm.invalid">Proceed</button><br>
  <br><br>
      <p id ="sin" style="color:white;font-size: 120%;
	font-weight: 700;">@ 2018<span style="color: black;">ExamAutomata</span></p>
</form>
 </div><br><br>
</div>
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4"></div>
  
</div>
</div>

  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><div class="sk-cube-grid">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div><span style="color:#3CB371;">Exam</span>Automata</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <h2 id="spa"><i id="wro" class="fa fa-times-circle" style="font-size:36px"></i>WrongOtp</h2>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><div class="sk-cube-grid">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div><span style="color:#3CB371;">Exam</span>Automata</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <h2 id="spa"><i class="fa fa-check-square-o" style="font-size:120%;color:green;"></i>You already got registered with us</h2>
          	<br><div id="spa"><a id = "fur" id ="fasak" routerLink="/login" data-dismiss="modal" class="button button1"><h3>Login</h3></a></div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div><br>
  <app-footer></app-footer>
  