.sk-cube-grid {
  width: 30px;
  height: 30px;
  /*margin: 100px auto;*/
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #3CB371;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
.spinner1 {
  margin: 30px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner1 > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner1 .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner1 .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner1 .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner1 .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
#sin
{
	text-align: center;
}
@media only screen and (min-width: 550px) 
{
div.sk-cube-grid{
display:none;
}
}
@media only screen and (max-width: 500px) 
{
    img#zoom{
  width:15%;
  height:15%;
  }
      h2#zoom{
font-size:145%;
  }
  a#fasak2
  {
font-size:35%;
  }
    a#fasak3
  {
font-size:15%;
  }
#shake
{
  font-size:35%;
}
h2#zoom
{
  text-align: center;
}
h1#zoom
{
  text-align: center;
}
}
@media only screen and (min-width: 501px) and (max-width: 767px)
{
#shake
{
  font-size:45%;
}
      h2#zoom{
font-size:145%;
  }
    a#fasak3
  {
font-size:30%;
  }
h2#zoom
{
  text-align: center;
}
h1#zoom
{
  text-align: center;
}
}
@media only screen and (min-width: 768px) and (max-width: 991px)
{
#shake
{
  font-size:50%;
}
      h2#zoom{
font-size:145%;
  }
    a#fasak3
  {
font-size:33%;
  }
h2#zoom
{
  text-align: center;
}
h1#zoom
{
  text-align: center;
}
}
@media only screen and (min-width: 992px) and (max-width: 1020px)
{
      h2#zoom{
font-size:145%;
  }
    a#fasak3
  {
font-size:35%;
  }

h2#zoom
{
  text-align: center;
}
h1#zoom
{
  text-align: center;
}
}
@media only screen and (min-width: 992px) 
{
#shake
{
  font-size:85%;
}
h2#zoom
{
  text-align: center;
}
h1#zoom
{
  text-align: center;
}
}
/*@media only screen and (min-width: 1200px) 
{
#shake
{
  font-size:50%;
}
}*/

div.heck
{
  color:black;
  background-color:#3CB371;
  border-radius: 10px;
  padding: 25px;
   margin:  0px 0px 0px 0px;
   box-shadow: 20px 20px 50px grey;
}
div.heck1
{
  color:black;
  background-color:white;
  border-radius: 15px;
  padding: 10px;
   margin:  0px 0px 0px 0px;
   box-shadow: 5px 5px 5px 5px grey;
}
label
{
	color: black;
	font-size: 20px;
	font-weight: 700;
}

a#fur:hover
{
	text-decoration:none;
}
.button {
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.button.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid black;
}
.button.button1:hover {
    color:white;
    background-color: black; 
}
#fasak
{
    font-size: 25px;
    font-weight: 600;
    padding:8px
}
#fasak2
{
    font-size: 25px;
    font-weight: 600;
    padding:8px
}
#fasak3
{
    font-size: 25px;
    font-weight: 600;
    padding:8px
}
#fasak1
{
    font-size: 90%;
    font-weight: 500;
    padding:1%;
}
   i#wro
  {
    color:red;
  }
     i#gre
  {
    color:green;
  }
  #spa
  {
    text-align:center;
  }
  input#limit
  {
    width: 50%;
  }
    input#limit1
  {
    width: 30%;
  }
  button#holi
  {
    padding:1.5%;
    border-radius: 8px;
  }
  span#ging
  {
    color:white;
  }
    span#ping
  {
    color:black;
  }
div.hello {
  height: 300px;
  overflow: auto;
}
div.hello1 {
  height: 160px;
  overflow: auto;
}
div.hello2 {
  height: 300px;
  overflow: auto;
}