<app-header></app-header>
<div class="container-fluid" >
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
</div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
<br><br>
  	<div class="heck">
  		     <form id="zoom" novalidate [formGroup]="QuesForm" (ngSubmit)="onSubmit()">
  		     	<label for="ques" >Question :</label><br>
  <input type="text"  formControlName="ques"  placeholder="Question...." required><br>
<label for="ans" >Answers :</label><br>
  <input type="text" id="limit"  formControlName="op1" placeholder="Option1...." required><br>
  <input type="text" id="limit"  formControlName="op2" placeholder="Option2...." required><br>
    <input type="text" id="limit"  formControlName="op3" placeholder="Option3...." required><br>
    <input type="text" id="limit"  formControlName="op4" placeholder="Option4...." required><br>
    <label for="ans" >CorrectAnswer:</label><br>
      <input type="text" id="limit"  formControlName="opc" placeholder="CorrectOption...." required><br>
      <br *ngIf="!QuesForm.invalid">
  <button type="submit" id ="fasak" class="button button1" *ngIf="!QuesForm.invalid">Publish</button><br *ngIf="!QuesForm.invalid"><br>

    <a id = "fur" id ="fasak" data-toggle="modal" data-target="#myModal2" class="button button1">Update Number of Questions</a><br>
     <p  style="color:black;font-size: 20px;
	font-weight: 700;">Present&nbsp;<span style="color: white;">{{nostatus}}</span><span style="color: white;"> questions</span></p>
  <p id ="sin" style="color:white;font-size: 20px;
	font-weight: 700;">@ 2018<span style="color: black;">ExamAutomata</span></p>
</form>
  	</div>
  </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
</div>
</div>
</div>
<br><br>
        <h1 id ="sin"><a id = "fur" id ="fasak1" routerLink="/automata" class="button button1">GoBack</a></h1><br>
  	<h1 id ="sin" id="zoom" style="color: #3CB371;">Your<span style="color:black">QuestionPaper</span><span style="color:#3CB371;">!!</span></h1>
  	<br>
    <div *ngIf="spinner" class="sk-circle">
  <div class="sk-circle1 sk-child"></div>
  <div class="sk-circle2 sk-child"></div>
  <div class="sk-circle3 sk-child"></div>
  <div class="sk-circle4 sk-child"></div>
  <div class="sk-circle5 sk-child"></div>
  <div class="sk-circle6 sk-child"></div>
  <div class="sk-circle7 sk-child"></div>
  <div class="sk-circle8 sk-child"></div>
  <div class="sk-circle9 sk-child"></div>
  <div class="sk-circle10 sk-child"></div>
  <div class="sk-circle11 sk-child"></div>
  <div class="sk-circle12 sk-child"></div>
</div>
<div *ngIf="!spinner" class="container-fluid" >
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1">
</div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
  	  <input class="form-control" *ngIf="!zip1" (keyup)="onKey($event)" type="text" placeholder="Search By Question Name....."><br *ngIf="!zip1">
      <div *ngIf="!zip">
  	<ng-container *ngFor="let que of quest">
  	<div class="heck" id="myTable">
	<h2 id="zoom">
		<span id = "ping">Question</span>
		<span id = "ging">Id :</span>
		<span id = "ging">{{que.qid}}</span>
	</h2>
	<h2 id="zoom">
		<span id = "ping">{{que.ques}}
			<span id = "ging"> ?</span></span>
	</h2>
	<ol>
  <h4 id="zoom">
  	<li>
  	<span id = "ging">{{que.op1}}</span>
  </li>
</h4>
  <h4 id="zoom">
  	<li>
  	<span id = "ging">{{que.op2}}</span>
  </li>
</h4>
  <h4 id="zoom">
  	<li>
  	<span id = "ging">{{que.op3}}</span>
  </li>
</h4>
  <h4 id="zoom">
    <li>
    <span id = "ging">{{que.op4}}</span>
  </li>
</h4>
	</ol>
	<h4 id="zoom">
	<span id = "ping">Answer:</span>
	<span id = "ging">{{que.answer}}</span>
</h4>
<br>
  <a id = "fur" id ="fasak" (click)="updateques(que.qid,que.ques,que.op1,que.op2,que.op3,que.op4,que.answer)" data-toggle="modal" data-target="#myModal3"  class="button button1">Update</a>&nbsp;&nbsp;
  <a id = "fur" id ="fasak" (click)="deleteques(que.qid)" class="button button1">Delete</a>
  	</div>
  		<br><br>
  </ng-container>
</div>
            <h1 id ="sin"><a id = "fur" id ="fasak1" (click)="pubques()" *ngIf="pubex" class="button button1">Publish</a></h1>
      <br>
  <h1 *ngIf="zip" id = "sin">{{exists}}</h1><br>
</div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1">
</div>
</div>
</div>


<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><div class="sk-cube-grid">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div><span style="color:#3CB371;">Exam</span>Automata</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <h2 id="spa"><i id="wro" class="fa fa-exclamation-circle" style="font-size:36px"></i>Your correct answer didn't match with the </h2><h2 id="spa">answers you have given !!</h2><br>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><div class="sk-cube-grid">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div><span style="color:#3CB371;">Exam</span>Automata</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <h2 id="spa"><i id="wro" class="fa fa-exclamation-circle" style="font-size:36px"></i>Maximum <span style="color: #3CB371;">{{nostatus}}</span> questions are permitted in the </h2><h2 id="spa">answers you have given !!</h2><br>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal2">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><div class="sk-cube-grid">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div><span style="color:#3CB371;">Exam</span>Automata</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
	   <form novalidate [formGroup]="NumForm" (ngSubmit)="onSubmit123()">
   <label for="ans" >Number of Questions :</label><br>
  <input type="number" id="limit1" min="3" max="30"pattern="([3-9]|[1-2][0-9]|30)"   formControlName="num" placeholder="Questions number...." required><br *ngIf="!NumForm.invalid"><br>
  <h4>Update Status :
    <span *ngIf="bool2"><i class="fa fa-check-square-o" style="font-size:24px;color:green;"></i></span>
<span *ngIf="bool1"><i id="wro" class="fa fa-times-circle" style="font-size:36px"></i></span>
  {{middle}}</h4>
  <button type="submit" id ="fasak" class="button button1" *ngIf="!NumForm.invalid" >Publish</button><br *ngIf="!NumForm.invalid"><br>
    </form>
         <p  style="color:black;font-size: 20px;
	font-weight: 700;">Minimum 3 questions and Maximum 30 questions</p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

<div class="modal fade" id="myModal3">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><div class="sk-cube-grid">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div><span style="color:#3CB371;">Exam</span>Automata</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
    <div class="container-fluid" >
    <h1 id ="sin" id="zoom" style="color: #3CB371;">Update<span style="color:black">ExamPaper</span><span style="color:#3CB371;">!!</span></h1>
    <div class="heck">
           <form id="zoom" novalidate [formGroup]="UpdForm" (ngSubmit)="onUpdate()">
            <label for="ques" >Question :</label><br>
  <input type="text"  formControlName="quesa" placeholder="Question...." required><br>
<label for="ans" >Answers :</label><br>
  <input type="text" id="limit"  formControlName="opa1" placeholder="Option1...." required><br>
  <input type="text" id="limit"  formControlName="opa2" placeholder="Option2...." required><br>
    <input type="text" id="limit"  formControlName="opa3" placeholder="Option3...." required><br>
    <input type="text" id="limit"  formControlName="opa4" placeholder="Option4...." required><br>
    <label for="ans" >CorrectAnswer:</label><br>
      <input type="text" id="limit"  formControlName="opac" placeholder="CorrectOption...." required><br>
      <br *ngIf="!UpdForm.invalid">
  <button type="submit" id ="fasak" class="button button1" *ngIf="!UpdForm.invalid">Publish</button><br *ngIf="!UpdForm.invalid"><br>
  <h5 id="zoom" *ngIf="bool3" style="color:black;"><i class="fa fa-check-square-o" style="font-size:24px;color:green;"></i>{{stat}}</h5>
    <h5 id="zoom" *ngIf="bool4" style="color:black;"><i id="wro" class="fa fa-times-circle" style="font-size:36px"></i>{{stat}}</h5>
  <p id ="sin" style="color:white;font-size: 20px;
  font-weight: 700;">@ 2018<span style="color: black;">ExamAutomata</span></p>
</form>
    </div>
</div>
</div>    
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
    <div class="modal fade" id="myModal4">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><div class="sk-cube-grid">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div><span style="color:#3CB371;">Exam</span>Automata</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <h2 id="spa" style="color: #3CB371;"><i id="wro" class="fa fa-ban" style="font-size:36px" ></i>This Question Already <span style="color: black;">Exists in the Question Paper</span></h2><br>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal5">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><div class="sk-cube-grid">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div><span style="color:#3CB371;">Exam</span>Automata</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <h2 id="spa"><i id="wro" class="fa fa-exclamation-circle" style="font-size:36px"></i>Options can't</h2><h2 id="spa">be same !!</h2><br>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  <app-footer></app-footer>

