<app-header></app-header>
<div class="container-fluid">
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5"><br><br>
    <h1 id="big"><span style="color:#3CB371;font-weight: 900;">C</span>ome <span id="small">&#9632;</span></h1>
    <h1 id="big"><span style="color:#3CB371;font-weight: 900;">C</span>reate <span id="small">&#9632;</span>
      </h1>
    <h1 id="big"><span style="color:#3CB371;font-weight: 900;">C</span>onduct <span id="small">&#9632;</span></h1>
      &nbsp;<h1><span style="color:#3CB371;font-weight: 900;">Your </span>ultimate destination for <span style="color:#3CB371;font-weight: 900;">online</span> assessment</h1><hr>
      <h3><span style="color:#3CB371;font-weight: 900;">C</span>reate online exams <span style="color:#3CB371;font-weight: 900;">&</span> tests with our fun <span style="color:#3CB371;font-weight: 900;">&</span> easy test maker<span style="color:#3CB371;font-weight: 900;">!</span></h3><br>
        <input id="hero" type="email" placeholder="Email...." required>&nbsp;&nbsp;
        <button type="submit" routerLink="/verify" id ="fasak1" class="button button2" >GetStarted</button><br>
      <p style="color:grey;">Already Using ExamAutomata?<a href="" routerLink="/login">SignIn</a></p>

</div>
  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7"><br>
    <img class="dog" src="assets/IMG-20190110-WA0007.jpg"><br><br>
          <div class="container">
    <div id="sin" class="home-header-title">
            <h4 style="color:#3CB371;font-weight: 900;" class="typing-element"></h4>
          </div>
        </div>
      </div>
</div>
</div><br><br>
<div style="background-color: #F5F5F5;" class="container-fluid">
<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><br>
          <h1 id="ssmall"><span style="color:#3CB371;font-weight: 900;">H</span>ow <span style="color:#3CB371;font-weight: 900;">i</span>t <span style="color:#3CB371;font-weight: 900;">w</span>orks<span style="color:#3CB371;font-weight: 900;">?</span></h1><br>
    </div>
    </div>
</div>
<div style="background-color: #F5F5F5;padding:50px;" class="container-fluid">
<div class="row">
        <div id="sin" class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
          <img class="center" id="sin" class="block" style="width:25%;" src="assets/edit.svg" alt="Cinque Terre" ><span style="font-size:300%">----></span><br>
          <h5 id="ssmall"><span style="color:#3CB371;font-weight: 900;">C</span>reate <span style="color:#3CB371;font-weight: 900;">q</span>uestions</h5>
        </div>

        <div id="sin" class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <img class="block" style="width:25%;" src="assets/test.svg" alt="Cinque Terre" ><span style="font-size:300%">----></span><br>
          <h5 id="ssmall"><span style="color:#3CB371;font-weight: 900;">D</span>esign <span style="color:#3CB371;font-weight: 900;">t</span>est</h5>
        </div>
        <div id="sin" class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <img class="block" style="width:25%;" src="assets/assignment.svg" alt="Cinque Terre" ><span style="font-size:300%">----></span><br>
          <h5 id="ssmall"><span style="color:#3CB371;font-weight: 900;">A</span>ssign<span style="color:#3CB371;font-weight: 900;">T</span>est</h5>
        </div>
        <div id="pin" class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <img class="block" style="width:25%;" src="assets/trophy.svg" alt="Cinque Terre" ><span style="font-size:300%;color:#F5F5F5;">----></span><br>
          <h5 id="ssmall"><span style="color:#3CB371;font-weight: 900;">G</span>enerate <span style="color:#3CB371;font-weight: 900;">R</span>esults</h5>
        </div>
</div>
</div><br><br>
<div class="container-fluid">
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
  </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
          <h1 id="ssmall"><span style="color:#3CB371;font-weight: 900;">O</span>nline <span style="color:#3CB371;font-weight: 900;">t</span>est <span style="color:#3CB371;font-weight: 900;">m</span>aker</h1><br>
          <h4 id="sin">This is the last online examination system you will ever need! With our easy online test maker you will set up your own engaging exams that fit any kind of difficulty level. Build and create your online exams & tests with great ease and provide your users with appropriate feedback, so they will have a rich learning experience.</h4>
        <h1 id="sin">
          <button type="submit" (click)="demo123()" id ="fasak2" class="button button1">DemoExamPaper</button></h1>
    </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
  </div>
    </div>
</div><br><br>
<div style="background-color: #F5F5F5;" class="container-fluid">
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
  </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8"><br>
          <h1 id="ssmall"><span style="color:#3CB371;font-weight: 900;">Why </span>use our online <span style="color:#3CB371;font-weight: 900;">examination</span> tool<span style="color:#3CB371;font-weight: 900;">?</span></h1><br>
          <h4 id="sin">Do you need some serious testing software for your students? Or do you need to hand out a lot of certificates? Do you want to easily setup your exam software and invite your users or do you need to connect your testing software with your internal software? Start using the Online Exam Builder all this is all within reach.</h4><br><br>
    </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
  </div>
    </div>
</div>
<div style="background-color: #F5F5F5;padding:50px;" class="container-fluid">
<div class="row">
        <div class="inset" id="sin" class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
<img style="width:10%;" src="assets/heart.svg" alt="Cinque Terre">
<h3>Easy to use</h3>
<h5>Our exam builder is simple and easy to use. For students as well as for the administrators. With our online exam builder it's easy to start, which makes it more fun.</h5><br><br>
    </div>
            <div class="inset" id="sin" class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
<img style="width:10%;" src="assets/phone-tablet-and-laptop.svg" alt="Cinque Terre">
<h3>Looks great on all devices</h3>
<h5>It doesn't matter if you are on a phone, tablet or pc: your online exam will look beautiful. Our online examination system is fully responsive, so you can engage your audience on any platform.</h5><br><br>
    </div>
            <div class="inset" id="sin" class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
<img style="width:10%;" src="assets/help.svg" alt="Cinque Terre">
<h3>Awesome support</h3>
<h5>Do you have any questions about our online examination software? Our support owls are always by your side and provide you with the best possible support!</h5><br><br>
    </div>
  </div>
    </div><br><br>
    <h3 id="ssmall"><span style="color:#3CB371;">OUR</span>TEAM</h3><br><br>
<div class="container-fluid">
<div class="row">
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
        <div id="sin" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <img class="zoho" src="assets/mani.png" alt="Cinque Terre" ><br><br>
              <h5 id="msmall"><span style="color:#3CB371;">MANI</span>KANTA</h5>
          <p id="msmall"><span style="color:#3CB371;">DEVE</span>LOPER</p><br><br>
        </div>
                <div id="sin" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <img class="zoho" src="assets/sumanth.png" alt="Cinque Terre" >
        <br><br><h5 id="msmall"><span style="color:#3CB371;">PV</span>SUMANTH</h5>
          <p id="msmall"><span style="color:#3CB371;">PHOTO</span>SHOPER</p>
        </div>
                  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
      </div>
    </div><br><br>

       <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><div class="sk-cube-grid">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div><span style="color:#3CB371;">Exam</span>Automata</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        <h3 *ngIf="!spinner1" id ="sin" style="color: #3CB371;">Load<span style="color: black;">ing......</span></h3>
        <h4 *ngIf="!spinner1" id ="sin"><span style="color: #3CB371;">F</span>asten <span style="color: #3CB371;">Y</span>our <span style="color: #3CB371;">S</span>eat<span style="color: #3CB371;">B</span>elts<span style="color: #3CB371;">!!</span></h4>
          <div *ngIf="!spinner1" class="spinner1">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
<div *ngIf="spinner1">
          <h3 id="sin">
            Time limit for the exam:<span style="color: #3CB371;"> 10 minutes</span>
          </h3>
          <h5 id="sin">You have 10 minutes to complete the exam. At the end of the exam you will inmediately receive your score!</h5>
          <h1 id="sin"><button type="submit" (click)="start()" id ="fasak2" class="button button1">Start</button></h1>
</div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
   <div class="modal fade" id="myModal9">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><div class="sk-cube-grid">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div><span style="color:#3CB371;">Exam</span>Automata</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
<h3 id ="sin"><span style="color: #3CB371;">W</span>anna <span style="color: #3CB371;">T</span>ry <span style="color: #3CB371;">O</span>ur <span style="color: #3CB371;">D</span>emo<span style="color: #3CB371;">E</span>xam<span style="color: #3CB371;">P</span>aper<span style="color: #3CB371;">?</span></h3>
        <h1 id="sin">
          <button type="submit" (click)="demo12()" id ="fasak2" class="button button1">DemoExamPaper</button></h1>
    </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
    <app-footer></app-footer>


